@import url('https://fonts.googleapis.com/css2?family=Jost&family=Spectral+SC&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #D3A873;
  --secondary-color: #603140;
  --accent1-color: #878C8F;
  --accent2-color: #F6F6F6;

  /* change the values below to your chosen font(s) */
  --heading-font: 'Spectral SC', serif;
  --paragraph-font: 'Jost', sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(
    --primary-color
  ); /* headlines on a white background */
  --headline-color-on-color: white; /* headlines on a colored background */
  --paragraph-color-on-white: var(
    --primary-color
  ); /* paragraph text on a white background */
  --paragraph-color-on-color: white; /* paragraph text on a colored background */
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: var(--primary-color);
  --nav-background-color: var(--secondary-color);
  --nav-hover-link-color: white;
  --nav-hover-background-color: var(--primary-color);
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

html, body {
  height: 100%;
}

body {
  background-color: #F8F2F3;
  margin: 0em;
}

head{
  margin: 0em;
}

nav {
  position: sticky;
  top: 0;
  z-index: 999;
}

/* Add a black background color to the top navigation */
.nav {
    background-color: var(--secondary-color);
    overflow: hidden;
    font-family: var(--heading-font);
}

/* Style the links inside the navigation bar */
.nav a {
  float: left;
  display: block;
  color: var(--primary-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: var(--primary-color);
  color: white;
}

/* Add an active class to highlight the current page*/
.nav a.active {
  background-color: var(--primary-color);
  color: white;
}

/* Hide the link that should open and close the topnav on small screens*/
.nav .icon {
  display: none;
}

header a{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.logo img {
  width: 60%;
  grid-column: 2/3;
  justify-self: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

main div {
  margin-right: auto;
  margin-left: auto;
}

picture {
  grid-row: 1/2;
  grid-column: 1/3;
}

picture img {
  width: 100%;
  height: 100%;
  filter: blur(0px);
  -webkit-filter: blur(0px);
  margin-bottom: 3em;
}

main {
  margin-top: 0em;
  display: grid;
  /* grid-template-rows: 1fr 1fr; */
  grid-template-columns: 1fr;
}

.headline {
  grid-row: 1/2;
  grid-column: 1/3;
  z-index: 2;
  justify-self: center;
  font-size: 2.5em;
  font-family: var(--paragraph-font);
  margin-top: -1.5em;
  letter-spacing: 3px;
  /* margin-bottom: 0em; */
}

.schedule-button {
  grid-row: 1/2;
  grid-column: 1/3;
  align-self: center;
  justify-self: center;
  z-index: 2;
  margin-top: 8em;

  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  border-radius: 0.5em;
  font-family: var(--paragraph-font);
  font-weight: 500;
  letter-spacing: 2px;

  height: fit-content;
  margin-bottom: 1em;
  margin-left: 1em;
  padding: 0.5em;
}

.schedule-button:hover {
  color: var(--accent1-color);
  background-color: var(--accent2-color);
}

.background {
  background-color: #F8F2F3;
  opacity: 70%;
  z-index: 1;
  width: 50%;
  height: 50%;
  grid-column: 1/3;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  margin-top: 2em;
}

.hair-images {
  align-self: center;
  text-align: center;
  display: grid;
  grid-template-rows: 0.25fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 4em;
}

.hair-images h2 {
  grid-column: 1/4;
  justify-self: center;
  align-self: center;
  font-size: 2em;
  letter-spacing: 2px;
  font-family: var(--paragraph-font);
  color: var(--secondary-color);
}

.hair-images img {
  max-width: 70%;
  border-radius: 0.5em;
  grid-row: 2/3;
  justify-self: center;
  align-self: start;
}

.services {
  grid-column: 1/3;
  margin-top: 8em;
  margin-bottom: 0em;
  font-family: var(--paragraph-font);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1em;
  background-color: rgba(135, 140, 143, 0.1);
  width: 100%;
}

.services h2 {
  grid-column: 1/4;
  justify-self: center;
  font-size: 2em;
  letter-spacing: 2px;
  font-family: var(--paragraph-font);
  color: var(--primary-color);
}

.card1 {
  max-width: 30ch;
  border-radius: 1em;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: var(--paragraph-font);
}

.card1 img {
  border-radius: 1em;
  max-width: 100%;
}

b {
  font-weight: 600;
}

.schedule-h1 {
  text-align: center;
  margin-top: 1em;
  font-family: var(--paragraph-font);
  letter-spacing: 1px;
}

.schedule-h2 {
  text-align: center;
  margin: 0em;
  font-family: var(--paragraph-font);
  letter-spacing: 1px;
  color: var(--primary-color);
}

footer {
  padding: 1em;
  font-family: 'Jost', sans-serif;
  font-size: large;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr 0.5fr;
  border-top: #878C8F solid;
  margin-top: 0em;
}

footer img {
  max-width: 6em;
}

footer p img {
  max-width: 30px;
}

.phone {
  justify-self: center;
  align-self: center;
}

.email {
  justify-self: center;
  align-self: center;
}

.address {
  justify-self: center;
  align-self: center;
}

.insta-icon {
  justify-self: end;
  align-self: center;
  grid-column: 5/6;
  grid-row: 1/2;
}

.face-icon {
  justify-self: start;
  align-self: center;
  grid-column: 6/7;
  grid-row: 1/2;
  margin-left: 1em;
}

.insta-icon img {
  max-width: 45px;
}

.face-icon img {
  max-width: 45px;
}

.copy-right {
  grid-row: 1/2;
  grid-column: 5/7;
  text-align: center;
  align-self: end;
  margin-top: 2em;
  margin-bottom: 0em;
  font-size: 14px;
}

.contact-main {
  display: block;
  text-align: center;
  margin-top: 0em;
}

.contact-logo {
  width: 20%;
  margin-top: 1em;
}

.contact-header {
  font-size: 25px;
  font-family: var(--paragraph-font);
}

#contact-content {
  background-color: white;
  width: 30%;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 1em;
  font-family: var(--paragraph-font);
}

.contact {
  text-align: start;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

#name {
  height: 2em;
  width: 31.25em;
}

#phonenumber {
  height: 2em;
  width: 31.25em;
}

#message {
  height: 5em;
  width: 30em;
  font-size: 14px;
}

#submit {
  height: 2.5em;
  width: 8em;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 16px;
  font-family: var(--heading-font);
  border-radius: 1em;
  border: none;
}

#submit:hover {
  background-color: var(--accent2-color);
  color: var(--accent1-color);
}

.center {
  text-align: center;
}

.venmo-margin {
  margin-top: 0em;
  margin-bottom: 2em;
  margin-right: 0em;
  position: fixed;
  right: -14.75em; bottom: 0px;
  z-index: 999;
}

.venmo-button {
  text-decoration: none;
  background-color: #009cde;
  color: white;
  font-size: 25px;
  border-radius: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  font-family: var(--paragraph-font);
}

.venmo-button:hover {
  font-size: 30px;
}

.venmo-v {
  width: 5%;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
      float: right;
      display: block;
    }
    .logo img {
      width: 200%;
    }
    main div {
      margin-top: 1em;
    }
    main {
      display: grid;
      grid-template-columns: 1fr;
    }
    picture img {
      filter: blur(0px);
      -webkit-filter: blur(0px);
      /* margin-bottom: 0em; */
    }
    footer {
      display: block;
      text-align: center;
    }
    .hair-images {
      display: block;
      margin-top: 0em;
    }
    .hair-images img {
      margin-bottom: 1em;
    }
    .headline {
      text-align: center;
      margin-top: 0.25em;
      margin-left: 1em;
      margin-right: 1em;
    }
    .schedule-button {
      font-size: 25px;
      margin-top: -0.75em;
      margin-right: 1em;
    }
    .background {
      display: none;
    }
    .services {
      display: block;
      margin-top: 1em;
    }
    .services h2 {
      text-align: center;
    }
    .card1 {
      margin-bottom: 3em;
    }
    .schedule-h1 {
      margin-top: 0.5em;
    }
    .schedule-h2 {
      margin-bottom: 2em;
      margin-top: -0.25em;
    }
    #contact-content {
      width: 90%;
    }
    #name {
      height: 3em;
      width: 100%;
    }
    #phonenumber {
      height: 3em;
      width: 100%;
    }
    #message {
      height: 6em;
      width: 100%;
      font-size: 14px;
    }
    .venmo-margin {
      right: -15.1em; bottom: -0.5em;
    }
    .venmo-button {
      font-size: 20px;
      padding-top: 0.6em;
      padding-bottom: 0.6em;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* When the screen is above 601px */
@media screen and (min-width: 600px) {
  .schedule-nav {
    margin-bottom: -1.5em;
  }
  h1 {
    align-self: center;
  }
}