.main-grid {
    width: 600px;
    margin: 1em 40%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr;
}

.card-front {
    width: 100%;
    background-color: #dddddd;
    border-radius: 1em;
    box-shadow: 5px 10px 8px 10px lightgrey;
    grid-column: 1/3;
    grid-row: 1/4;
    z-index: 2;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.card-front p {
    margin: 1em;
    align-self: end;
}

.card-front .cardnumber {
    grid-column: 1/5;
    grid-row: 2/3;
    margin: 1em
}

#cardnumber {
    width: 95%;
    height: 1.75em;
}

.card-front .cardholder {
    grid-column: 1/3;
    grid-row: 3/4;
}

#cardholder {
    width: 95%;
    height: 1.75em;
}

.card-front .expiration {
    grid-column: 3/5;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5em;
}

.expiration label {
    grid-column: 1/3;
    justify-self: center;
}

#expirationmonth {
    width: 45%;
    height: 1.75em;
    grid-column: 1/2;
    justify-self: end;

}

#expirationyear {
    width: 50%;
    height: 1.75em;
    grid-column: 2/3;

}


.card-front img {
    grid-column: 4/5;
    grid-row: 1/2;
    align-self: end;
}

.card-back {
    width: 100%;
    background-color: #dddddd;
    border-radius: 1em;
    grid-column: 2/4;
    grid-row: 2/5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.card-back div {
    height: 50%;
    background-color: #444444;
    grid-column: 3/3;
    grid-row: 1/2;
    z-index: 1;
    align-self: center;
}

.card-back p {
    width: 50%;
    grid-column: 3/4;
    grid-row: 2/4;
    justify-self: center;
    align-self: center;
    margin: 0;
}

#cvc {
    width: 4em;
    height: 1.75em;
}

.submit {
    margin-top: 1em;
    width: 50%;
    height: 80%;
    grid-column: 3/3;
    grid-row: 5/5;
    justify-self: end;
}