@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&display=swap');

body{
  font-family: 'Inter Tight', sans-serif;
  font-size: 1em;
  max-width: 1080px;
}

p {
  max-width: 70ch;
}

#navigation-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
li {
    display: flex;
    float: left;
  }
  
li a {
    display: flex;
    color: #738a9c;
    font-size: large;
    margin: 0.75em 0em;
    padding: 0.75em 0.5em;
    text-decoration: none;
  }

li a:hover {
    background-color: #eeb192;
  }

.logo {
    display: inline-block;
    vertical-align: middle;
    padding: 4px 4px;
    width: 75px;
    height: 75px;
  }
.title {
  color: #808d9e;
  font-size: large;
  padding: .75%;
  text-decoration: none;
}